<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>FGH</author>
	<description>
		${project.parent.description}
	</description>

	<activator>${MODULE_PACKAGE}.EptsHarmonizationActivator</activator>

	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>${openmrs.platform.version}</require_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${MODULE_PACKAGE}.extension.html.AdminList</class>
	</extension>


	<!-- Privileges -->
	<privilege>
		<name>Manage Encountery Types</name>
		<description>Able to add/edit/retire Encountery Types</description>
	</privilege>
	<privilege>
		<name>View Encountery Types</name>
		<description>Able to view Encountery Types</description>
	</privilege>
	<privilege>
		<name>Manage Person Attribute Types</name>
		<description>Able to add/edit/retire Person Attribute Types</description>
	</privilege>
	<privilege>
		<name>View Person Attribute Types</name>
		<description>Able to view Person Attribute Types</description>
	</privilege>
	<privilege>
		<name>Manage Program</name>
		<description>Able to add/edit/retire Program</description>
	</privilege>
	<privilege>
		<name>View Program</name>
		<description>Able to view Program</description>
	</privilege>
	<privilege>
		<name>Manage Program Workflow</name>
		<description>Able to add/edit/retire Program Workflow</description>
	</privilege>
	<privilege>
		<name>View Program workflow</name>
		<description>Able to view Program Workflow</description>
	</privilege>
	<privilege>
		<name>View Person Attribute Types</name>
		<description>Able to view Person Attribute Types</description>
	</privilege>
	<privilege>
		<name>View Program Workflow States</name>
		<description>Able to view Program Workflow States</description>
	</privilege>

	<!-- Required Global Properties <globalProperty> <property>@MODULE_ID@.someProperty</property> 
		<defaultValue></defaultValue> <description> A description of the global property 
		goes here. The description should explain enough for administrators to understand 
		the purpose and possible values for the global property. </description> </globalProperty> 
		/Required Global Properties -->

	<!-- <dwr> <allow> <create creator="new" javascript="DWRFormEntryService"> 
		<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/> 
		<include method="enterForm"/> </create> </allow> <signatures> <![CDATA[ import 
		@MODULE_PACKAGE@.web.DWRFormEntryService; DWRFormEntryService.enterForm(Integer 
		patientId, Integer formId, boolean useEncounter, List<String> fields); ]]> 
		</signatures> </dwr> -->

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
		<servlet> <servlet-name>formDownload</servlet-name> <servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class> 
		</servlet> -->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<messages>
		<lang>pt</lang>
		<file>messages_pt.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

